[package]
name = "bdk_tx"
version = "0.1.0"
edition = "2021"
rust-version = "1.85.0"
homepage = "https://bitcoindevkit.org"
repository = "https://github.com/bitcoindevkit/bdk-tx"
documentation = "https://docs.rs/bdk_tx"
description = "Bitcoin transaction building library."
license = "MIT OR Apache-2.0"
readme = "README.md"

[dependencies]
miniscript = { version = "12", default-features = false }
bdk_coin_select = "0.4.0"

[dev-dependencies]
anyhow = "1"
bdk_tx = { path = "." }
bitcoin = { version = "0.32", features = ["rand-std"] }
bdk_testenv = "0.13.0"
bdk_bitcoind_rpc = "0.20.0"
bdk_chain = { version = "0.23.0" }

[features]
default = ["std"]
std = ["miniscript/std"]

[[example]]
name = "synopsis"

[[example]]
name = "common"
crate-type = ["lib"]
