[workspace]
members = [".", "testenv"]

[package]
name = "bdk_tx"
version = "0.1.0"
edition = "2021"
rust-version = "1.85.0"
homepage = "https://bitcoindevkit.org"
repository = "https://github.com/bitcoindevkit/bdk-tx"
documentation = "https://docs.rs/bdk_tx"
description = "Bitcoin transaction building library."
license = "MIT OR Apache-2.0"
readme = "README.md"

[dependencies]
miniscript = { version = "13.0.0", default-features = false }
bdk_coin_select = "0.4.0"
rand_core = { version = "0.6.4", default-features = false }
rand = { version = "0.8", optional = true }

[dev-dependencies]
anyhow = "1"
bdk_tx = { path = "." }
bdk_tx_testenv = { path = "testenv" }
bitcoin = { version = "0.32", default-features = false, features = ["rand-std"] }
bdk_testenv = "0.13.0"
bdk_bitcoind_rpc = "0.22.0"
bdk_chain = { version = "0.23.0" }

[features]
default = ["std"]
std = ["miniscript/std", "rand/std"]

[[example]]
name = "synopsis"

[[example]]
name = "common"
crate-type = ["lib"]

[[example]]
name = "anti_fee_sniping"

[patch.crates-io]
bdk_testenv = { git = "https://github.com/evanlinjin/bdk", branch = "feature/bitcoind_rpc_emit_header" }
bdk_chain = { git = "https://github.com/evanlinjin/bdk", branch = "feature/bitcoind_rpc_emit_header" }
bdk_core = { git = "https://github.com/evanlinjin/bdk", branch = "feature/bitcoind_rpc_emit_header" }
bdk_bitcoind_rpc = { git = "https://github.com/evanlinjin/bdk", branch = "feature/bitcoind_rpc_emit_header" }

# bdk_chain = { git = "https://github.com/bitcoindevkit/bdk", branch = "master" }
# bdk_core = { git = "https://github.com/bitcoindevkit/bdk", branch = "master" }
# bdk_bitcoind_rpc = { git = "https://github.com/bitcoindevkit/bdk", branch = "master"}
